<form>
    <div class='card'>

        <div class='card-body'>
            <div class='form-group'>
                <nav class="navbar navbar-expand-md  navbar-light bg-light">
                    <ul class="navbar-nav" *ngFor='let wr of weatherRegions'>
                        <li>
                            <a class="nav-link" name='RegionName'
                                [class.active]='weatherInput && weatherInput.RegionName === wr.RegionName'
                                (click)='weatherInput.RegionName = wr.RegionName; childTemplate.getData()'>{{wr.RegionName}}</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class='col-md-3 mb-2'>
                    <div>
                        <label for="date">Date </label>
                        <input id='date' type="text" bsDaterangepicker [bsConfig]='datePickerConfig'
                            class="form-control" [(ngModel)]="weatherInput.BsRangeValue" name='date'
                            (bsValueChange)='childTemplate.getData()'>
                    </div>
                </div>
                <div class='col-md-9'>
                    <div class="row">
                        <div class="col-md-5">
                            <!--  btn-group-toggle-->
                            <div data-toggle="buttons">
                                <label class="btn btn-secondary">
                                    <input type="radio" name="Metric" id="minTemp" autocomplete="off" value='Rainfall'
                                        [(ngModel)]='weatherInput.Metric' (change)='childTemplate.getData()'> Rainfall
                                </label>
                                <label class="btn btn-secondary margin-left">
                                    <input type="radio" name="Metric" id="maxTemp" autocomplete="off" value='Tmin'
                                        [(ngModel)]='weatherInput.Metric' (change)='childTemplate.getData()'> Min Temp
                                </label>
                                <label class="btn btn-secondary margin-left">
                                    <input type="radio" name="Metric" id="rain" autocomplete="off" value='Tmax'
                                        [(ngModel)]='weatherInput.Metric' (change)='childTemplate.getData()'> Max Temp
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <app-graph-component [weatherInput]='weatherInput' #childTemplate>
                            </app-graph-component>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</form>